<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener Service</h1>
    <p>
        Thank you for the link! It has been saved with ID <pre><%= shortId %></pre>
        You can navigate to it here: <a href="/url/<%= shortId %>">Click Me</a>
    </p>
    <a href="/">Home</a>
</body>
</html>

